<header class="tb-header">
  <div class="tb-header__left">
    <nav class="tb-header__nav"></nav>
  </div>
  <div class="tb-header__right">

    <ng-container [ngTemplateOutlet]="headerService.customHeaderOptions()"></ng-container>

    <button
      class="tb-theme-toggle"
      (click)="toggleTheme()"
      [attr.aria-label]="
        isDarkMode ? 'Switch to light mode' : 'Switch to dark mode'
      "
    >
      <span *ngIf="!isDarkMode">🌙</span>
      <span *ngIf="isDarkMode">☀️</span>
    </button>
    <div class="d-flex align-center gap">
      <a
        (click)="toggleUserProfileMenu()"
        class="tb-header__avatar"
        title="User Profile"
      >
        {{ getNameAbbrivation }}
      </a>
      @if (isUserMenuOpen()) {
      <ng-container [ngTemplateOutlet]="userMenu"></ng-container>
      }
      <span> Welcome: {{ getLoggedInUserName }} </span>
    </div>
  </div>
</header>

<ng-template #userMenu>
  <div class="userMenu_wrapper">
    <ul>
      @for (item of userMenuList; track $index) {
        <li>
          <a (click)="item.action()">
            <span [classList]="item.iconClassList"> {{item.icon}} </span>
            <span> {{item.label}} </span>
          </a>
        </li>
      }
    </ul>
  </div>
</ng-template>
