<aside class="tb-sidebar" [class.tb-sidebar--collapsed]="collapsed">
  <div class="tb-sidebar__logo">
    <img src="assets/logo-taskpilot.svg" alt="TaskPilot Logo" class="tb-sidebar__logo-img" />
    <span class="tb-sidebar__app-name">TaskPilot</span>
  </div>
  <nav class="tb-sidebar__nav">
    <ul>
      <li>
        <a href="#" class="tb-sidebar__nav-link">
          <span class="nav-icon"><i class="fa-solid fa-chart-line"></i></span>
          <span class="nav-text" *ngIf="!collapsed">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" class="tb-sidebar__nav-link">
          <span class="nav-icon"><i class="fa-solid fa-folder"></i></span>
          <span class="nav-text" *ngIf="!collapsed">Projects</span>
        </a>
      </li>
      <li>
        <a href="#" class="tb-sidebar__nav-link">
          <span class="nav-icon"><i class="fa-solid fa-list-check"></i></span>
          <span class="nav-text" *ngIf="!collapsed">Tasks</span>
        </a>
      </li>
    </ul>
  </nav>
  <button class="tb-sidebar__toggle" (click)="onToggle()">
    <span *ngIf="!collapsed">&#x25C0;</span>
    <span *ngIf="collapsed">&#x25B6;</span>
  </button>
</aside> 