.settings_content {
  width: 80%;
  margin: 20px auto;
  display: flex;
  gap: 50px;
}

.sideMenu_wrapper {
  width: 20%;
}

.sideMenu_wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.sideMenu_wrapper .sideMenuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.sideMenu_wrapper ul li a {
  display: flex;
  padding: 5px 2px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  color: var(--gh-text);
}

.sideMenu_wrapper ul li a:hover {
  background: var(--gh-list-hover-bg);
  border-radius: var(--standard-border-radius);
}

.activeLink::before {
  content: '';
  width: 4px;
  height: 72%;
  background-color: var(--gh-accent);
  position: absolute;
  left: -7px;
  border-radius: 6px;
}

.activeLink {
  background: var(--gh-list-hover-bg);
  border-radius: var(--standard-border-radius);
  font-weight: 600;
}