<div class="w-100 add-task-section_container">
  @for(item of sectionList; track $index;) { @let last = $last;

  <div class="task_section" [ngClass]="{ 'border-bottom': !last }">
    <button class="w-100 btn-setting d-flex justify-between align-center">
      <div>{{ item.sectionTitle.title }}</div>
      <div class="material-symbols-outlined">settings</div>
    </button>
    @if(item.contentList.length) {
      <section class="section-content">
        @switch(item.sectionTitle.type) {
          @case('strip') {
            @for(content of item.contentList; track $index;) {
              <ng-container *ngTemplateOutlet="contentTemplateStrip; context: { $implicit: content }"></ng-container>
            }
          }
          @case ('chip') {
            <div class="d-flex gap">
              @for(content of item.contentList; track $index;) {
                <ng-container *ngTemplateOutlet="contentTemplateChip; context: { $implicit: content }"></ng-container>
              }
            </div>
          }
          @case ('input') {
              <ng-container *ngTemplateOutlet="contentTemplateInput; context: { $implicit: item.contentList[0] }"></ng-container>
          }
        }
      </section>
    } @else {
      <section class="section-content">
        {{ item.sectionTitle.defaultContentText }}
      </section>
    }
  </div>
  }
</div>

<ng-template #contentTemplateStrip let-content>
  <div class="content-strip">
    @if (content?.icon) {
    <span> person </span>    
  }
    <span>{{ content.title }}</span>
  </div>
</ng-template>

<ng-template #contentTemplateChip let-content>
  <div class="content-chip" [ngStyle]="content.styles">
    {{ content.title }}
  </div>
</ng-template>

<ng-template #contentTemplateInput let-content>
  <input type="text" class="input-txt" [value]="content.value">
</ng-template>
