<div class="main_layout_container">
  <div class="header_wrapper" [class.tb-sidebar--collapsed]="sidebarCollapsed" >
    <app-header></app-header>
  </div>
  <div class="main-layout">
    <app-sidebar [collapsed]="sidebarCollapsed" (toggleSidebar)="toggleSidebar()"></app-sidebar>
    <div class="main-layout__content" [class.main-layout__content--collapsed]="sidebarCollapsed">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer_wrapper" [class.tb-sidebar--collapsed]="sidebarCollapsed">
    <app-footer></app-footer>
  </div>
</div>