<div class="add-task_container p-10">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="add-task-form">
    <section class="section-header w-100 d-flex justify-between gap">
      <input
        name="taskName"
        type="text"
        class="input-txt"
        placeholder="Task name"
      />
      <select class="input-txt" name="priority">
        @for (item of priority | keyvalue; track $index) {
        <option value="">{{ item.value }}</option>
        }
      </select>
    </section>

    <section class="section-content w-100 d-flex justify-between gap">
      <div class="left">
        <app-add-task-content 
          [taskContentData]="taskContentData"
          (contentChanged)="onContentChanged($event)"
        >
      </app-add-task-content>
      </div>
      <div class="right">
        <app-add-task-section
          [sectionList]="taskMetaDataList"
          (sectionChanged)="onSectionChanged($event)"
        >
        </app-add-task-section>
      </div>
    </section>

    <section class="section-footer">
      <button type="button" class="gh-btn-default" (click)="onCancel()">
        Cancel
      </button>
      <button type="submit" class="gh-btn-primary">Add Task</button>
    </section>
  </form>
</div>
