.add-task_container {
  border: 1px solid var(--gh-border);
  background-color: var(--gh-surface);
  height: 100%;
  width: 100%;
}

.add-task-form .section-header {
  border-bottom: 1px solid var(--gh-border);
  padding-bottom: 10px;
}

.add-task-form .section-header input {
  flex-basis: 80%;
}

.add-task-form .section-header select {
  flex-basis: 20%;
}

.add-task-form .section-content .left {
  flex-basis: 60%;
}

.add-task-form .section-content .right {
  flex-basis: 40%;
  padding: 10px 0 0 10px;
}
